* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background: #080808; }
::-webkit-scrollbar-thumb { background: #222; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #333; }